html,body{

    margin:0;

}

header{
    background-color: #F55a5a;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    height: 55px;

}

header > img{

    width: 50px;
    margin-right: 7px;

}


header > h1{
    font-size:  1rem;
}
